.cropper-area {
    width: 100%;
    height: 70vh; /* área grande e equilibrada */
    display: flex;
    justify-content: center;
    align-items: center;
    background: #efefef;
    overflow: hidden;
    border-radius: 6px;
}

/* imagem ocupar bem o espaço */
#imagemParaRecorte {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

/* modal em tamanho ideal */
.modal-xl {
    max-width: 900px !important;
}
